### Python ###
.venv/
__pycache__/
*.pyc
*.pyo

### Tooling ###
.idea/
.vscode/
.pytest_cache/
.mypy_cache/

### App data ###
data/
uploads/
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/.mypy_cache/
backend/data/
backend/uploads/
backend/models/*.task
backend/app/static/videos/
backend/tests/test_suite.db
**/__pycache__/
