APP_ENV=development
SECRET_KEY=change-this-secret-key
DATABASE_URL=postgresql+psycopg://admin:password123@localhost:5432/tutor_senas_db
DEFAULT_ADMIN_EMAIL=admin@tutor.com
DEFAULT_ADMIN_PASSWORD=admin123
